<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store</title>
    <link rel="stylesheet" href="../Css/styleForIndex.css">
</head>
<body>
    <div class="container ">
        
        <div class="header">
            <a href="../product/add.php">ثبت کالا </a>
            <a href="">ثبت اعضا</a>
            <a href="">مشاهده ی لیست کالا</a>
            <a href="">مشاهده لیست اعضا</a>
        </div>
        

    </div>

    
</body>
</html>